branches:
  except:
  - gh-pages
sudo: false
language: node_js
node_js:
- '8'
before_script:
- npm install -g grunt-cli
notifications:
  slack:
    secure: apFPFTkdEogWBDyJNasWPF6NG/lvnp6ink0bofbrpLAbIRYpZmRUzLQoVvW/NuJcasEFyOfKE3Uf4dH54vz093uAHaok/gDRi3GltWC3A2IsCyxlJ5kQpdZmp5VcDHauxo2e0iwinouCZnrDSqJzXe/bqEvQ9Cby9r4EMlBIm38=
